<%- include('../partials/header') %>

<body>
  <img
    id="title-image"
    src="/images/-solestash-logo.png"
    height="500px"
    width="500px"
  />
  <div id="collection">
    <table class="collection-table">
      <tbody>
        <% sneakers.forEach(function(s) { %>
        <tr>
          <td>
            <img src="<%= s.image.image.data %>" alt="Sneaker" />
            <h3><%= s.name %></h3>
            <a href="/sneakers/<%= s._id %>">DETAILS</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

<%- include('../partials/footer') %>
