<%- include('../partials/header') %>

<h2>SNEAKERS</h2>
<div class="sneaker-table" style="width: 18rem;">
<section id="show-page">
  <div>Name: </div>
  <div><%= sneaker.name %></div>
  <div>Brand: </div>
  <div><%= sneaker.brand %></div>
  <div>Size: </div>
  <div><%= sneaker.size %></div>
  <div>Date Acquired: </div>
  <div><%= sneaker.dateAcquired %></div>
  <div>Notes: </div>
  <div><%= sneaker.notes %></div>
</section>
<form id="new-form" action='/sneakers/<%= sneaker._id %>?_method=DELETE' method="POST">
  <button type="submit">DELETE SNEAKER</button>
</form>
</div>

<div id="sneaker-image">
<img src="/<%=sneaker.image.image.data %>" alt="Sneaker">
</div>

<h2>ADD COMMENT</h2>
<div class="comment-form" style="width: 18rem;">
<form id="add-comment-form" method="POST" action="/sneakers/<%= sneaker._id %>/comments">
  <label>Comment:<br></label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <button type="submit">ADD COMMENT</button>
</div>
</form>
<h2>COMMENTS</h2>
<div style="width: 100rem">
<% if (sneaker.comments.length) { %>
<table class="comment-table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th>Rating</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% sneaker.comments.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="comment-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">🗑️</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }) %>
      <tr>
        <td><strong><%= (total / sneaker.comments.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>NO COMMENTS YET</h5>
<% } %>
</div>

<h2>UPDATE SNEAKER</h2>
<div class="update-form" style="width: 18rem;">
<form id="edit-sneaker" action="/sneakers/<%= sneaker.id %>?_method=PUT" method="POST">
    <label>NAME:
        <input type="text" name="name" value="<%= sneaker.name %>">
    </label><br>
    <label>BRAND:
        <select name="brand">
          <% ['Air Jordan', 'Nike', 'Adidas', 'Reebok', 'Asics', 'New Balance', 'Converse', 'Vans', 'Saucony','Luxury', 'Other'].forEach(function(option) { %>
            <option value="<%= option %>" <% sneaker.brand == option ? 'selected' : '' %>><%= option %></option>
          <% }); %>
        </select>
    </label><br>
    <label>SIZE:
      <input type="number" name="size" value="<%= sneaker.size %>">
    </label><br>
    <label>DATE ACQUIRED:
        <input type="datetime-local" name="dateAcquired" value="<%= sneaker.dateAcquired %>">
    </label><br>
    <label>NOTES:<br>
        <textarea name="notes"></textarea>
    </label><br>
    <button type="submit">UPDATE SNEAKER</button>
</div>
</form>
    
<%- include('../partials/footer') %>